@model IEnumerable<Inventario.ViewModels.VMInventario>

@*@model Concesionario_236.ViewModels.Reportes.InfoGralVM*@

@{
    ViewBag.Title = "Reporte";
}


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@
<br />
<br />
<h2>Stock de articulos con cantidades menores a 5 unidades</h2>
<br />
@using (Html.BeginForm())
{
              @*//REUTILIZAR
            <input class="form-control" type="text" placeholder="Buscar por..." aria-label="Search for..." aria-describedby="btnNavbarSearch" id="nombre_articulo" />
            <button class="btn btn-primary" type="button" onclick="refresh()"><i class="fas fa-search"></i></button>*@

    <br />
    <br />
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped" id="listado">
                <thead>
                    <tr>
                        <th class="text-center">
                            Articulo
                        </th>
                        <th class="text-center">
                            Modelo
                        </th>
                        <th class="text-center">
                            Marca
                        </th>
                        <th class="text-center">
                            Tipo
                        </th>
                        <th class="text-center">
                            Cantidad
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre_articulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Modelo_articulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Desc_marca_articulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Desc_tipo_articulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>

                        </tr>

                    }
                </tbody>
            </table>

        </div>
        <div class="form-group" text-right>
            <div class="col-sm-6">
                <a href="@Url.Action("Print4", "Reporte")" class="btn btn-info" target="_blank">Imprimir PDF</a>
            </div>
        </div>
    </div>

    }

