@*@model Inventario.ViewModels.VMInventario*@
@model Inventario.ViewModels.ArticuloStock
@{
    ViewBag.Title = "ObtenerArticulo";
    List<SelectListItem> itemsUsuarios = (List<SelectListItem>)ViewBag.itemsUsuarios;
    string listado = ViewBag.listado;

    // List<Inventario.ViewModels.VMInventario> itemsUsuariosArt = (List<Inventario.ViewModels.VMInventario>)ViewBag.itemsUsuariosArt;

}





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <br />
    <h4>ASIGNAR O DES-ASIGNAR ARTICULO A UN USUARIO</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <div class="form-group">
        <label class="col-sm-6" control-label>Nombre</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Nombre_articulo, htmlAttributes: new { @class = "form-control", @id = "txtNombre", @disabled = "disabled" })
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-6" control-label>Modelo</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Modelo_articulo, htmlAttributes: new { @class = "form-control", @id = "txtModelo", @disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-6" control-label>Stock actual</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Artstock, htmlAttributes: new { @class = "form-control", @id = "txtStock", @disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-6" control-label>Usuario</label>
        <div class="col-sm-6">
            @Html.DropDownList("id_usuario", itemsUsuarios, htmlAttributes: new { @class = "form-control", required = "required" })
            <label class="text-danger mb-4">@ViewBag.Mensaje</label>
        </div>
        
    </div>
    <div class="form-group">
        <label class="col-sm-6">Lista de usuarios asignados al articulo</label>
        <div class="col-sm-6">
            @Html.TextArea("a", listado, htmlAttributes: new { @class = "form-control", @id = "txtListaUsr", @disabled = "disabled", @resize = "none" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-6" control-label>Numero de ticket</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Nro_ticket, htmlAttributes: new { @class = "form-control", @id = "txtNroTicket", required = "required" })
        </div>
    </div>
    @if (ViewBag.cantStock == 0)
    {
        <div class="form-group">
            <label class="col-sm-12 control-label font-weight-bolder">*Tildar para asignar articulo a usuario, caso contrario para des-asignar</label>
            <label class="col-sm-12 control-label">Asignar usuario?</label>
            <div class="col-sm-12">
                <label>SI</label>
                @Html.CheckBoxFor(model => model.Chk_asignado, htmlAttributes: new { @class = "checkbox", @id = "chkAsignado", @disabled = "disabled" })
            </div>
        </div>}
    else
    {
        <div class="form-group">
            <label class="col-sm-12 control-label font-weight-bolder">*Tildar para asignar articulo a usuario, caso contrario para des-asignar</label>
            <label class="col-sm-12 control-label">Asignar usuario?</label>
            <div class="col-sm-12">
                <label>SI</label>
                @Html.CheckBoxFor(model => model.Chk_asignado, htmlAttributes: new { @class = "checkbox", @id = "chkAsignado" })
            </div>
        </div>}
    <div class="form-group" text-right>
        <div class="col-sm-6">
            <button class="btn btn-primary" type="submit">Confirmar</button>
        </div>
    </div>

    <div class="form-group" text-right>
        <br />
        <br />
        <div class="col-sm-6">
            <a href="@Url.Action("ListadoAsignarUsr", "Inventario")" class="btn btn-warning">Volver</a>
        </div>
    </div>
</div>
}




