@model Inventario.ViewModels.VMInventario

@{
    ViewBag.Title = "ObtenerArticulo";


}





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <br />
    <h4>Agregar Stock</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <div class="form-group">
        <label class="col-sm-6" control-label>Nombre</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Nombre_articulo, htmlAttributes: new { @class = "form-control", @id = "txtNombre", @disabled = "disabled" })
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-6" control-label>Modelo</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Modelo_articulo, htmlAttributes: new { @class = "form-control", @id = "txtModelo", @disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-6" control-label>Stock actual</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Stock, htmlAttributes: new { @class = "form-control", @id = "txtStock", @disabled = "disabled" })
        </div>
    </div>
    <div class="form-group" text-right>
        <div class="col-sm-6">
            <button class="btn btn-primary" type="submit">Dar de baja</button>
        </div>
        <br />
        <br />
        <div class="col-sm-6">
            <a href="@Url.Action("ListadoAsignarUsr", "Inventario")" class="btn btn-info">Volver</a>
        </div>
    </div>
</div>
}




