@model IEnumerable<Inventario.ViewModels.VMInventario>


@{
    ViewBag.Title = "Listado de articulos";
}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

@using (Html.BeginForm())
{


    <br />

    <div class="row">
        <div class="col-sm-12">
            <div>
                <h3>CONTROL DE STOCK</h3>
                <hr />

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <br />
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
 
                    <input type="search" class="form-control rounded col-lg-4" placeholder="Filtrar resultados" aria-label="Search"
                           aria-describedby="search-addon" id="txtFiltro" />
                </div>
            </form>
            <br />
            <table class="table table-bordered table-striped bg-light" id="listado">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="text-center">
                            Articulo
                        </th>
                        <th class="text-center">
                            Modelo
                        </th>
                        <th class="text-center">
                            Marca
                        </th>
                        <th class="text-center">
                            Tipo
                        </th>
                        <th class="text-center">
                            Stock
                        </th>
                        <th class="text-center">
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var VMInventario in Model)
                    {
                    <tr class="table-light text-center text-dark">

                        <td>
                            @VMInventario.Nombre_articulo
                        </td>
                        <td>
                            @VMInventario.Modelo_articulo
                        </td>
                        <td>
                            @VMInventario.Desc_marca_articulo
                        </td>
                        <td>
                            @VMInventario.Desc_tipo_articulo
                        </td>

                        @if (@VMInventario.Stock < 2)
                        {
                            <td class="text-danger font-weight-bolder">
                                @VMInventario.Stock
                            </td>

                        }
                        else
                        {
                            <td>
                                @VMInventario.Stock
                            </td>
                         }

                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                    Acciones
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="@Url.Action("AgregarStock", "Inventario", new { @id_articulo=VMInventario.Id_articulo,@Cantidad_mvt=0})">Agregar/Quitar Stock</a>
                                    <a class="dropdown-item" href="@Url.Action("AsignarStock", "Inventario", new { @id_articulo = VMInventario.Id_articulo })">Asignar/Des-asignar Usuario</a>
                                    <a class="dropdown-item" href="@Url.Action("ListadoHistorialArt", "Inventario", new { @id_articulo=VMInventario.Id_articulo})">Historial</a>
                                    <a class="dropdown-item" href="@Url.Action("BajaStock", "Inventario", new { @id_articulo=VMInventario.Id_articulo})">Dar de baja stock</a>
                                </div>
                            </div>
                        </td>

                    </tr>
                    }
                </tbody>

            </table>
        </div>
 
    </div>
}
<script src="~/lib/jquery/dist/jquery-ui-1.12.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#txtFiltro").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#listado tr").not(':first').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>