@model IEnumerable<Inventario.ViewModels.VMInventario>


@{
    ViewBag.Title = "ListadoInventario";
    List<SelectListItem> itemsTipoArticulos = (List<SelectListItem>)ViewBag.itemsTipoArticulos;

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<br />
<div class="row">
    <div class="col-sm-12">
        <div>
            <h3>INVENTARIO</h3>
            <hr />
        </div>
    </div>
</div>
<br />
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-9">
            <div class="form-group">
                <label class="col-sm-6" control-label>Buscar por tipo de articulos</label>
                <div class="col-sm-6">
                   
                    @Html.DropDownList("Id_tipo_articulo", itemsTipoArticulos, "Seleccione un tipo", htmlAttributes: new { @class = "form-control", @onchange = "refresh()" })

                </div>
                <br />

            </div>


        </div>
        <div class="col-lg-12">
            <table class="table table-bordered table-striped bg-light">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="text-center">
                            Imagen
                        </th>
                        <th class="text-center">
                            Nombre
                        </th>
                        <th class="text-center">
                            Modelo
                        </th>
                        <th class="text-center">
                            Marca
                        </th>
                        <th class="text-center">
                            Tipo
                        </th>
                        <th class="text-center">
                            Cantidad total
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var VMInventario in Model)
                    {
                        <tr class="table-light text-center text-dark">
                            <td>
                                <img src="@VMInventario.Imagen_articulo" width="200" height="100">
                            </td>
                            <td>
                                @VMInventario.Nombre_articulo
                            </td>
                            <td>
                                @VMInventario.Modelo_articulo
                            </td>
                            <td>
                                @VMInventario.Desc_marca_articulo
                            </td>
                            <td>
                                @VMInventario.Desc_tipo_articulo
                            </td>
                            <td>
                                @VMInventario.Stock
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
        <div class="col-lg-12">
            <a href="@Url.Action("Index", "Home")" class="btn btn-warning">Inicio</a>
        </div>
    </div>

}
<script>

    function refresh() {
        var cboTipoArt = document.getElementById("Id_tipo_articulo");
        console.log(cboTipoArt);
        if (cboTipoArt.value === null || cboTipoArt.value === undefined )
        {
            cboTipoArt.value == 0;
            cboTipoArt.addEventListener("change", refresh);
            window.location.href = "@Url.Content("~/Inventario/ListadoInventario")";
            console.log("Entra if");
        }
        else {
            cboTipoArt.addEventListener("change", refresh);
            window.location.href = "@Url.Content("~/Inventario/ListadoInventarioFiltrado")" + "?Id_tipo_articulo=" + cboTipoArt.value;
        }
        console.log(cboTipoArt);
        console.log("fuera if");
    }
</script>

