@model IEnumerable<Inventario.ViewModels.VMInventario>

@{
    ViewBag.Title = "ListadoInventario";

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<br />
<div class="row">
    <div class="col-sm-12">
        <div>
            <h3>Inventario</h3>
        </div>
    </div>
</div>
<br />
@*[ ]*@
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-9">
            <table class="table table-bordered table-striped bg-light">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="text-center">
                            Fecha
                        </th>
                        <th class="text-center">
                            Nombre
                        </th>
                        <th class="text-center">
                            Modelo
                        </th>
                        <th class="text-center">
                            Cantidad
                        </th>
                        <th class="text-center">
                            Usuario
                        </th>
                        <th class="text-center">
                            Ticket
                        </th>
                        <th class="text-center">
                            Observaciones
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var VMInventario in Model)
                    {
                        <tr class="table-light text-center text-dark">
                            <td>
                                @VMInventario.Fecha_historial
                            </td>
                            <td>
                                @VMInventario.Nombre_articulo
                            </td>
                            <td>
                                @VMInventario.Modelo_articulo
                            </td>
                            <td>
                                @VMInventario.Cantidad_mvt
                            </td>
                            <td>
                                @VMInventario.Codigo_usuario
                            </td>
                            <td>
                                @VMInventario.Nro_ticket
                            </td>
                            <td>
                                @VMInventario.Observaciones_historial
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
        <div class="col-lg-9">
            <a href="@Url.Action("ListadoAsignarUsr", "Inventario")" class="btn btn-info">Volver</a>
        </div>
    </div>

}

