@model IEnumerable<Inventario.ViewModels.VMInventario>
@*@model List<Inventario.ViewModels.VMInventario>*@
@*@model List<RubricaWeb.ViewModels.VM_Rubrica>
    @model IEnumerable<Inventario.ViewModels.VMInventario>*@

@{
    ViewBag.Title = "ListadoInventario";
    List<SelectListItem> itemsTipoArticulos = (List<SelectListItem>)ViewBag.itemsTipoArticulos;
    //Inventario.ViewModels.VMInventario items = ViewBag.itemsTipoArticulos;
}


<br />
<div class="row">
    <div class="col-sm-12">
        <div>
            <h3>Inventario</h3>
        </div>
    </div>
</div>
<br />
@*[ ]*@
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-9">
            <div class="form-group">
                <label class="col-sm-6" control-label>Buscar por tipo de articulos</label>
                @*@Html.HiddenFor(Id_tipo_articulo => items.Id_tipo_articulo)*@
                <div class="col-sm-6">
                    @*@Html.DropDownListFor(Id_tipo_articulo => items, new SelectList(items.Id_tipo_articulo, "Value", "Text"), "Seleccione un tipo", htmlAttributes: new { @class = "form-control", @id = "Id_tipo_articulo" })*@


                    @*@Html.DropDownList("Id_tipo_articulo", itemsTipoArticulos, "Seleccione un tipo", htmlAttributes: new { @class = "form-control", @onchange = "refresh()" })*@
                    @Html.DropDownList("Id_tipo_articulo", itemsTipoArticulos, htmlAttributes: new { @class = "form-control", @onchange = "refresh()" })

                </div>
                <br />
                <div class="col-sm-6">
                    <a href="@Url.Action("ListadoInventario", "Inventario")" class="btn btn-success">Ver todos</a>
                </div>

            </div>


            <br />

        </div>
        <div class="col-lg-9">
            <table class="table table-bordered table-striped bg-light">
                <thead>
                    <tr>
                        <th class="text-center">
                            Nombre
                        </th>
                        <th class="text-center">
                            Modelo
                        </th>
                        <th class="text-center">
                            Marca
                        </th>
                        <th class="text-center">
                            Tipo
                        </th>
                        <th class="text-center">
                            Cantidad total
                        </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var VMInventario in Model)
                    {
                        <tr class="text-center">
                            <td>
                                @VMInventario.Nombre_articulo
                            </td>
                            <td>
                                @VMInventario.Modelo_articulo
                            </td>
                            <td>
                                @VMInventario.Desc_marca_articulo
                            </td>
                            <td>
                                @VMInventario.Desc_tipo_articulo
                            </td>
                            <td>
                                @VMInventario.Stock
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
        <div class="col-lg-9">
            <a href="@Url.Action("Index", "Home")" class="btn btn-success">Inicio</a>
        </div>
    </div>

}

<script>

    function refresh() {
        var cboTipoArt = document.getElementById("Id_tipo_articulo");
        console.log(cboTipoArt);
        if (cboTipoArt.value === null || cboTipoArt.value === undefined )
        {
            cboTipoArt.value == 0;
            cboTipoArt.addEventListener("change", refresh);
            window.location.href = "@Url.Content("~/Inventario/ListadoInventario")";
            console.log("Entra if");
        }
        else {
            cboTipoArt.addEventListener("change", refresh);
            window.location.href = "@Url.Content("~/Inventario/ListadoInventarioFiltrado")" + "?Id_tipo_articulo=" + cboTipoArt.value;
        }
        console.log(cboTipoArt);
        console.log("fuera if");
    }
</script>