@model IEnumerable<Inventario.ViewModels.VMInventario>

@{
    ViewBag.Title = "Listado de Articulos";
}



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<br />
<div class="row">
    <div class="col-sm-12">
        <div>
            <h3>Listado de Articulos</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <br />
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input type="search" class="form-control rounded col-lg-12" placeholder="Filtrar resultados" aria-label="Search"
                       aria-describedby="search-addon" id="txtFiltro" />
            </div>
        </form>
        <br />
        <br />
        <table class="table table-bordered table-striped bg-light" id="listado">
            <thead class="bg-primary text-white">

                <tr>
                    <th class="text-center">
                        ID
                    </th>
                    <th class="text-center">
                        Nombre
                    </th>
                    <th class="text-center">
                        Modelo
                    </th>
                    <th class="text-center">
                        Marca
                    </th>
                    <th class="text-center">
                        Tipo
                    </th>
                    <th class="text-center">
                        Habilitado
                    </th>

                    <th class="text-left">

                        Acciones
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var VMInventario in Model)
                {
                    <tr class="table-light text-center text-dark">

                        <td>
                            @VMInventario.Id_articulo
                        </td>
                        <td>
                            @VMInventario.Nombre_articulo
                        </td>
                        <td>
                            @VMInventario.Modelo_articulo
                        </td>
                        <td>
                            @VMInventario.Desc_marca_articulo
                        </td>
                        <td>
                            @VMInventario.Desc_tipo_articulo
                        </td>
                        @if (VMInventario.Habilitado_articulo)
                        {
                            <td>
                                S
                            </td>

                        }
                        else
                        {
                            <td>
                                N
                            </td>

                        }
                        <td>

                            <a href="@Url.Action("ObtenerArticulo", "Inventario", new { @id_articulo=VMInventario.Id_articulo})" class="btn btn-warning">Editar</a>
                            @* <a href="@Url.Action("ObtenerArticulo", "Articulo", new { @id_articulo=articulo.Id_articulo})" class="btn btn-danger">Deshabilitar</a>*@
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="col-lg-9">
        <a href="@Url.Action("Index", "Home")" class="btn btn-success">Inicio</a>
    </div>

    <div class="col-lg-9">
        <button class="btn btn-primary" onclick="mensaje()" >MENSAJE</button>
    </div>

</div>

@*<script src="~/lib/jquery/dist/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#txtFiltro").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#listado tr").not(':first').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>*@
<script>
    function mensaje() {
        elemento = document.getElementById(id);
        elemento = document.getElementById(id);
        elemento = document.getElementById(id);
        elemento = document.getElementById(id);
        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: 'Puede volver a habilitar el articulo desde el menú        ->'
                + '        abm - articulos -  listado',
            showConfirmButton: true,
            showCancelButton: true,
            //timer: 7000,
            confirmButtonText: 'Si, votar',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                alert("ALAN")
            }
                
                })
        
    }

</script>

