@model IEnumerable<Inventario.ViewModels.VMInventario>

@{
    ViewBag.Title = "Listado de Usuarios";
}
<br />
<div class="row">
    <div class="col-sm-12">
        <div>
            <h3>Listado de Usuarios</h3>
        </div>
    </div>
</div>
<br />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

@using (Html.BeginForm())
{


    <div class="row">
        <div class="col-lg-12">
            <br />
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">

                    <input type="search" class="form-control rounded col-lg-4" placeholder="Filtrar resultados" aria-label="Search"
                           aria-describedby="search-addon" id="txtFiltro" />
                </div>
            </form>
            <br />
            <table class="table table-bordered table-striped " id="listado">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="text-center">
                            Usuario
                        </th>
                        <th class="text-center">
                            Nombre
                        </th>
                        <th class="text-center">
                            Mail
                        </th>
                        <th class="text-center">
                            Habilitado
                        </th>
                        <th class="text-center">
                            Rol
                        </th>
                        <th class="text-center">
                            Acciones
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model)
                    {
                        <tr class="table-light text-center text-dark">
                            <td>
                                @usuario.Codigo_usuario
                            </td>
                            <td>
                                @usuario.Nombre_usuario
                            </td>
                            <td>
                                @usuario.Mail_usuario
                            </td>
                            @if (@usuario.Habilitado_usuario)
                            {
                                <td>
                                    S
                                </td>

                            }
                            else
                            {
                                <td>
                                    N
                                </td>

                            }
                            <td>
                                @usuario.Descripcion_rol
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                        Acciones
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="@Url.Action("AltaUsuario", "Usuario")">Alta</a>
                                        <a class="dropdown-item" href="@Url.Action("ObtenerUsuario", "Usuario", new { @id_usuario = usuario.Id_usuario })">Editar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="col-lg-9">
            <a href="@Url.Action("Index", "Home")" class="btn btn-success">Inicio</a>
        </div>
    </div>
}
<script src="~/lib/jquery/dist/jquery-ui-1.12.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#txtFiltro").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#listado tr").not(':first').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>