@model Inventario.ViewModels.VMInventario

@{
    Layout = "~/Views/Shared/_LayoutTecnico.cshtml";
    ViewBag.Title = "Registrar usuario";
    List<SelectListItem> itemsRoles = (List<SelectListItem>)ViewBag.itemsRoles;

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="main">
    <div class="form-horizontal">
        <br />
        <h4>REGISTRAR USUARIO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6 ">
        @*<div class="login-form">*@
            <div class="form-group">
                <label class="col-sm-6 control-label">Usuario</label>
                <div class="col-sm-12">
                    @Html.TextBoxFor(model => model.Codigo_usuario, htmlAttributes: new { @class = "form-control", @id = "txtCodigo", placeholder = "User", required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Contraseña</label>
                <div class="col-sm-12">
                    @Html.PasswordFor(model => model.Password_usuario, htmlAttributes: new { @class = "form-control", @id = "txtPassword", placeholder = "Password", required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Nombre</label>
                <div class="col-sm-12">
                    @Html.TextBoxFor(model => model.Nombre_usuario, htmlAttributes: new { @class = "form-control", @id = "txtNombre_usuario", placeholder = "Nombre", required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Apellido</label>
                <div class="col-sm-12">
                    @Html.TextBoxFor(model => model.Apellido_usuario, htmlAttributes: new { @class = "form-control", @id = "txtApellido_usuario", placeholder = "Apellido", required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Mail</label>
                <div class="col-sm-12">
                    @Html.TextBoxFor(model => model.Mail_usuario, htmlAttributes: new { @class = "form-control", @id = "txtMail_usuario", placeholder = "Mail", required = "required" })
                </div>
            </div>
            <div class="form-group" text-right>
                <div class="col-sm-6">
                    <button class="btn btn-warning" type="submit">Alta</button>
                </div>
                <br />
                <br />
                <div class="col-sm-6">
                    <a href="@Url.Action("Login", "Login")" class="btn btn-dark">Ir a login</a>
                </div>
            </div>
        @*</div>*@
    </div>
</div>



    }

